*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #F6F4F3;
  background-image: url("/image/bg.png");
  background-size: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.headerCont {
  width: 1440px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >a {
    font-size: 36px;
    text-decoration: none;
    color: black;
    font-weight: 900;
  }

  form {
    button {
      text-decoration: none;
      color: white;
      background: #775942;
      padding: 5px 10px;
      border-radius: 20px;
      transition: all .4s;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background: white;
      color: #775942;
      transform: translateY(5px);
      box-shadow: 0 0 10px #775942;
    }
  }

  .sign {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 0 0 20px 0;

    span {
      padding: 5px;
      margin-left: 10px;
      border-bottom: 2px solid #775942;
    }
  }
}


.signBtn {
  display: flex;
  gap: 30px;

  a {
    text-decoration: none;
    color: white;
    background: #775942;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all .4s;
  }

  a:hover {
    background: white;
    color: #775942;
    transform: translateY(5px);
    box-shadow: 0 0 10px #775942;
  }
}